---
layout: default
---

<div class="home">

  <div class="divider">
    <div class="right">
      <p>Howdy!! Welcome to my blog.</p>
      <p>
        
      </p>
      <p>
        
      </p>
    </div>
  </div>



  &nbsp;

  <hr>
  
  &nbsp;
  
  <h2>Recent Posts</h2>
  
  <ul class="post-list">
  {% assign mainPosts = site.posts %}
  {% for post in mainPosts limit:5 %}
    <li>
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <span class="post-meta">{{ post.date | date: date_format }} &verbar; {{ post.category | capitalize }}</span>
  
      <h3><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
      <p style="color:#828282">{{ post.description }}</p>
    </li>
  {% endfor %}
  </ul>
  </div>
 
  