---
layout: default

---

<!-- Convert his to md to have a seemless transition between all posts and tags -->
<h1 class="post-title">Posts tagged with "{{ page.tag }}"</h1>

<!-- Return to all blogs -->
<div class="tags">
  <a href="{{ site.baseurl }}/blog" class="tag">all</a>
</div>

  <ul class="post-list">
    {% assign mainPosts = site.tags[page.tag] %}
    {% for post in mainPosts %}
      <li class="post-item">
      
        <h3 class="post-list-heading"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
        <!-- <p class="post-description">{{ post.description }}</p> -->
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <p class="post-meta">
          {{ post.date | date: date_format }} &verbar; 
          {% for tag in post.tags %}
            <a href="/tag/{{ tag | slugify }}" class="tag-link">{{ tag }}</a>
          {% endfor %}
        </p>
      </li>
    {% endfor %}
</ul>

  
<!-- <nav aria-label="breadcrumb" style="font-size: 1em; display: flex; align-items: center;">
  <a href="{{ site.baseurl }}/blog" style="text-decoration: none; font-weight: 300;"> 
    all
  </a>
</nav> -->
